---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "component.name" . }}
  labels:
    {{- include "component.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "component.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "component.selectorLabels" . | nindent 8 }}
    spec:
      volumes:
        - name: {{ include "component.name" . }}
          persistentVolumeClaim:
            claimName: {{ include "component.name" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        - name: {{ .Chart.Name }}-init
          image: "image-registry.openshift-image-registry.svc:5000/{{.Release.Namespace}}/{{ include "component.name" . }}-init:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  key: dbHost
                  name: {{ include "component.name" . }}
            - name: CERT_SECRET
              valueFrom:
                secretKeyRef:
                  key: certSecret
                  name: {{ include "component.name" . }}
            - name: DB_PORT
              value: '1543'
          volumeMounts:
            - name: {{ include "component.name" . }}
              mountPath: /app/cert
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "image-registry.openshift-image-registry.svc:5000/{{.Release.Namespace}}/{{ include "component.name" . }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.app.envs.HTTP_PORT }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: dbPassword
                  name: {{ include "component.name" . }}
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  key: dbUser
                  name: {{ include "component.name" . }}
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  key: dbName
                  name: {{ include "component.name" . }}
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  key: dbHost
                  name: {{ include "component.name" . }}
            - name: API_KEY
              valueFrom:
                secretKeyRef:
                  key: apiKey
                  name: {{ include "component.name" . }}
            - name: DB_PORT
              value: '1543'
            - name: CERT_SECRET
              valueFrom:
                secretKeyRef:
                  key: certSecret
                  name: {{ include "component.name" . }}
            - name: POOL_MIN_SIZE
              value: {{ required "A valid .Values.app.envs.POOL_MIN_SIZE entry required!" .Values.app.envs.POOL_MIN_SIZE  | quote }}
            - name: HTTP_PORT
              value: {{ required "A valid .Values.app.envs.HTTP_PORT entry required!" .Values.app.envs.HTTP_PORT  | quote }}
            - name: POOL_IDLE_TIMEOUT
              value: {{ required "A valid .Values.app.envs.POOL_IDLE_TIMEOUT entry required!" .Values.app.envs.POOL_IDLE_TIMEOUT  | quote }}
            - name: POOL_INITIAL_SIZE
              value: {{ required "A valid .Values.app.envs.POOL_INITIAL_SIZE entry required!" .Values.app.envs.POOL_INITIAL_SIZE  | quote }}
            - name: POOL_MAX_SIZE
              value: {{ required "A valid .Values.app.envs.POOL_MAX_SIZE entry required!" .Values.app.envs.POOL_MAX_SIZE  | quote }}
            - name: POOL_MAX_LIFETIME
              value: {{ required "A valid .Values.app.envs.POOL_MAX_LIFETIME entry required!" .Values.app.envs.POOL_MAX_LIFETIME  | quote }}
            - name: POOL_LEAK_DETECTION_INTERVAL
              value: {{ required "A valid .Values.app.envs.POOL_LEAK_DETECTION_INTERVAL entry required!" .Values.app.envs.POOL_LEAK_DETECTION_INTERVAL  | quote }}
            - name: ACCESS_LOG_ENABLED
              value: {{ required "A valid .Values.app.envs.ACCESS_LOG_ENABLED entry required!" .Values.app.envs.ACCESS_LOG_ENABLED  | quote }}
          volumeMounts:
            - name: {{ include "component.name" . }}
              mountPath: /app/cert
