---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: {{ include "nr-oracle-service.name" . }}
  labels:
    {{- include "nr-oracle-service.labels" . | nindent 4 }}
spec:
  lookupPolicy:
    local: false
  tags:
    - name: "{{ .Values.image.tag | default .Chart.AppVersion }}"
      from:
        kind: DockerImage
        name: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
      referencePolicy:
        type: Local
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: {{ include "nr-oracle-service.name" . }}-init
  labels:
    {{- include "nr-oracle-service.labels" . | nindent 4 }}
spec:
  lookupPolicy:
    local: false
  tags:
    - name: "{{ .Values.image.tag | default .Chart.AppVersion }}"
      from:
        kind: DockerImage
        name: "{{ .Values.image.repositoryInit }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
      referencePolicy:
        type: Local
