# retrieve the secret data using lookup function and when not exists, return an empty dictionary / map as result
{{- $secretName := printf "%s" (include "nr-oracle-service.name" .) }}
{{- $secretObj := (lookup "v1" "Secret" .Release.Namespace $secretName) | default dict }}
{{- $secretData := (get $secretObj "data") | default dict }}
# set below to existing secret data or generate a random one when not exists
{{- $certSecret := (get $secretData "certSecret") | default (randAlpha 4) | lower }}
{{- $apiKey := (get $secretData "apiKey") | default (randAlphaNum 32) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nr-oracle-service.name" . }}
  labels: {{- include "nr-oracle-service.selectorLabels" . | nindent 4 }}
stringData:
  dbUser: {{ .Values.app.envs.DB_USER | quote }}
  dbPassword: {{ .Values.app.envs.DB_PASSWORD | quote }}
  dbHost: {{ .Values.app.envs.DB_HOST | quote }}
  dbName: {{ .Values.app.envs.DB_NAME | quote }}
  certSecret: {{ $certSecret | quote }} # cert secret is reused.
  apiKey: {{ $apiKey | quote }}
  secretName: {{ $secretName | quote }}
  secretObj: {{ $secretObj  }}
  secretData: {{ $secretData }}
