name: Merge

on:
  push:
    branches: [main]
    paths-ignore:
      - '*.md'
      - '.github/**'
      - 'charts/**'
      - '!.github/workflows/merge.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  semantic-release:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Conventional Changelog Update
        uses: TriPSs/conventional-changelog-action@v5
        id: changelog
        continue-on-error: true
        with:
          github-token: ${{ github.token }}
          output-file: 'CHANGELOG.md'
          skip-version-file: 'true'
          skip-commit: 'true'
          skip-on-empty: 'false'
          git-push: 'true'

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: ${{ steps.changelog.outputs.version != '' }}
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          token: ${{ github.token }}
          tag_name:  ${{ steps.changelog.outputs.tag }}
          name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}

      - name: Tag Docker Image for app container
        uses: shrink/actions-docker-registry-tag@v4
        if: ${{ steps.changelog.outputs.version != '' }}
        with:
          registry: ghcr.io
          repository: ${{ github.repository }}/nr-oracle-service
          target: test
          tags: ${{ steps.changelog.outputs.version }}

      - name: Tag Docker Image for init container
        uses: shrink/actions-docker-registry-tag@v4
        if: ${{ steps.changelog.outputs.version != '' }}
        with:
          registry: ghcr.io
          repository: ${{ github.repository }}/nr-oracle-service-init
          target: test
          tags: ${{ steps.changelog.outputs.version }}


